.list-wrap {
  overflow: hidden;
}
.list-item {
  display: flex;
}
.list-item + .list-item {
  margin-top: 0.2rem;
}
.list-item {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.list-item .pic {
  width: 2rem;
  height: 2rem;
}
.list-item .pic img {
  width: 100%;
  height: 100%;
}
.list-item .info {
  padding-left: 0.4rem;
}